<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>tag</key>
		<string>cmn</string>
		<key>nativeName</key>
		<string>中文</string>
	</dict>
	<dict>
		<key>tag</key>
		<string>es</string>
		<key>nativeName</key>
		<string>Español</string>
	</dict>
	<dict>
		<key>tag</key>
		<string>en</string>
		<key>nativeName</key>
		<string>English</string>
	</dict>
	<dict>
		<key>tag</key>
		<string>hi</string>
		<key>nativeName</key>
		<string>हिन्दी, हिंदी</string>
	</dict>
	<dict>
		<key>tag</key>
		<string>ar</string>
		<key>nativeName</key>
		<string>العربية</string>
	</dict>
	<dict>
		<key>tag</key>
		<string>bn</string>
		<key>nativeName</key>
		<string>বাংলা</string>
	</dict>
	<dict>
		<key>tag</key>
		<string>pt</string>
		<key>nativeName</key>
		<string>português</string>
	</dict>
	<dict>
		<key>tag</key>
		<string>ru</string>
		<key>nativeName</key>
		<string>русский язык</string>
	</dict>
	<dict>
		<key>tag</key>
		<string>ja</string>
		<key>nativeName</key>
		<string>日本語</string>
	</dict>
	<dict>
		<key>tag</key>
		<string>pa</string>
		<key>nativeName</key>
		<string>ਪੰਜਾਬੀ</string>
	</dict>
	<dict>
		<key>tag</key>
		<string>de</string>
		<key>nativeName</key>
		<string>Deutsch</string>
	</dict>
	<dict>
		<key>tag</key>
		<string>jv</string>
		<key>nativeName</key>
		<string>basa Jawa</string>
	</dict>
	<dict>
		<key>tag</key>
		<string>wuu</string>
		<key>nativeName</key>
		<string>吴语</string>
	</dict>
	<dict>
		<key>tag</key>
		<string>mr</string>
		<key>nativeName</key>
		<string>मराठी</string>
	</dict>
	<dict>
		<key>tag</key>
		<string>te</string>
		<key>nativeName</key>
		<string>తెలుగు</string>
	</dict>
	<dict>
		<key>tag</key>
		<string>vi</string>
		<key>nativeName</key>
		<string>Tiếng Việt</string>
	</dict>
	<dict>
		<key>tag</key>
		<string>fr</string>
		<key>nativeName</key>
		<string>français</string>
	</dict>
	<dict>
		<key>tag</key>
		<string>ko</string>
		<key>nativeName</key>
		<string>한국어</string>
	</dict>
	<dict>
		<key>tag</key>
		<string>ta</string>
		<key>nativeName</key>
		<string>தமிழ்</string>
	</dict>
	<dict>
		<key>tag</key>
		<string>yue</string>
		<key>nativeName</key>
		<string>粵語</string>
	</dict>
	<dict>
		<key>tag</key>
		<string>tr</string>
		<key>nativeName</key>
		<string>Türkçe</string>
	</dict>
	<dict>
		<key>tag</key>
		<string>ps</string>
		<key>nativeName</key>
		<string>پښتو</string>
	</dict>
	<dict>
		<key>tag</key>
		<string>it</string>
		<key>nativeName</key>
		<string>italiano</string>
	</dict>
</array>
</plist>
